/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --main-font: 'IBM Plex mono', sans-serif;
  --bg-image: url('../images/cover-image-dark.png');
  --btn-color: #ff0070;
  --btn-color-rgb: 255, 0, 112;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #ff0070;
    --accent-text-color: #000028;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --main-font: 'IBM Plex mono', sans-serif;
    --bg-image: url('../images/cover-image-dark.png');
    --btn-color: #ff0070;
    --btn-color-rgb: 255, 0, 112;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF0070;
    --bg-image: url('../images/cover-image-light.png');
    --btn-color: #353430;
    --btn-color-rgb: 50, 49, 45;
  }
}